<section class="giscus mx-auto mt-10 w-full"></section>

<script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="[ENTER YOUR REPO HERE]"
    data-repo-id="[ENTER YOUR REPO ID HERE]"
    data-category="[ENTER YOUR CATEGORY NAME HERE]"
    data-category-id="[ENTER YOUR CATEGORY ID HERE]"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
